# Ignore environment
fjordvision/*

# Ignore Yolo v8 experimental data
runs/*

# Ignore pytorch weights, data fles and weights
*.pt
*.parquet
*.pth

# Ignore class activations
activations/*
class-activations/*

# Ignore pyc files
*.pyc

# Ignore data that must be downloaded
datasets/segmented-objects
datasets/hierarcical-models-weights
datasets/EMVSD/
datasets/pre-trained-models
datasets/rtdetr-segmented-objects
datasets/yolov9-segmented-objects
datasets/yolov8-segmented-objects
datasets/maskrcnn-segmented-objects
datasets/yolosag-segmented-objects
datasets/yolov11-segmented-objects

# Results
results